<div class="wrapper">
    <div class="block-center mt-4 wd-xl">
        <!-- START card-->
        <div class="panel panel-dark panel-flat">
            <div class="panel-heading text-center">
                <a href="#">
                    <img class="block-center img-rounded" src="assets/img/logo_clean.png" alt="Image" width="110px"/>
                </a>
            </div>
            <div class="panel-body">
                <p class="text-center pv">SIGN IN TO CONTINUE.</p>
                <form [formGroup]="loginForm" class="form-validate mb-3" role="form" name="loginForm" novalidate="" (ngSubmit)="login($event, loginForm)">
                    <div class="form-group has-feedback">
                        <input class="form-control" id="formUsername" type="userName" name="userName" placeholder="Enter user name" autocomplete="off" formControlName="userName" required />
                        <span class="fa fa-user form-control-feedback text-muted"></span>
                        <span class="text-danger" *ngIf="loginForm.controls['userName'].hasError('required') && loginForm.submitted">This field is required</span>
                    </div>
                    <div class="form-group has-feedback">
                        <input class="form-control" id="formPassword" type="password" name="password" placeholder="Password" formControlName="password" required />
                        <span class="fa fa-lock form-control-feedback text-muted"></span>
                        <span class="text-danger" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.submitted">This field is required</span>
                    </div>
                    <div class="clearfix">
                        <div class="checkbox c-checkbox pull-left mt0">
                            <label>
                                <input type="checkbox" name="persistent" formControlName="persistent"/>
                                <span class="fa fa-check"></span>Remember Me</label>
                        </div>
                        <div class="pull-right">
                            <a class="text-muted" [routerLink]="'/recover'">Forgot your password?</a>
                        </div>
                    </div>
                    <button class="btn btn-block btn-primary mt-3" type="submit">Login</button>
                </form>
            <!-- <div class="alert alert-danger text-center" ></div> -->
            <p class="pt-3 text-center">Need to Signup?</p>
            <a class="btn btn-block btn-secondary" (click)="register()">Register Now</a>
            <a class="btn btn-block btn-secondary" (click)="logout()">Logout</a>
        </div>
    </div>
    <!-- END card-->
    <div class="p-3 text-center">
        <span>&copy;</span>
        <span>2018</span>
        <span class="mx-2">-</span>
        <span>TeamStuff</span>
        <br/>
        <span>DevRecords TeamStuff v.2.0 </span>
    </div>
</div>